# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.vite
.cursor*

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

*.log

00_docs
credentials.json
credentials_old.json

scripts/backups/*

csv/*
!csv/Вкусвилл/Готовая\ еда.csv
!csv/Вкусвилл/Сыры.csv
!csv/Озон/Торты.csv
!csv/Озон/Супермаркет,\ готовые блюда.csv
!csv/Озон/Супермаркет,\ молочные продукты и яйца.csv

vkusvill-scraper/data/*
ozon-scraper/data/*
ozon-scraper/draft
vkusvill-scraper/cookies.json
ozon-scraper/cookies.json



presentation